/*Форма*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form {
    width: 100%;
}

.row {
    width: 100%;

}

.form_buttons {
    margin-top: 24px;
    float: right;
}

.form_buttons .button_save {
    margin-top: 12px;
    width: 152px;
    padding: 8px;
    padding-right: 0;
    background-color: #5555A8;
    color: white;
    border-radius: 10px;
    border-color: #5555A8;
    border-width: 0px;
    cursor: pointer;
}

.form_buttons .button_cancel {
    width: 75px;
    text-align: center;
    padding: 8px;
    color: #5555A8;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    border-color: #5555A8;
    cursor: pointer;
}

form label {
    font-size: 16px;
    margin: 12px 0;
    font-weight: 500;
    color: #9F9F9F;
}

form input {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    border-width: 1px;
    border-color: #DCDCDC80;
    border-radius: 8px;
    box-sizing: border-box;
}

form .field {
    padding: 16px 0;
}

textarea:focus,
input:focus {
    outline: none;
}

.panel {
    margin-top: 70px;
    border-radius: 8px;
    border: 1px solid;
    width: 600px;
    height: 100%;
}

.panel-header {
    width: 600px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    background-color: #5555A8;
    display: flex;
    height: 80px;
    justify-content: space-between;
}

.panel-content {
    padding: 32px;
}

.panel-header_label {
    color: white;
    padding: 24px;
    font-size: 24px;
}

.panel-header_button_cancel {
    background-color: inherit;
    border-top-right-radius: 8px;
}

.panel-header_button_cancel button {
    background-color: inherit;
    border-width: 0;
    margin-top: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.form-edit {
    width: 600px;
}

.form-edit_buttons {
    float: left;
}

.form-edit_buttons .button_edit {
    margin-top: 12px;
    width: 80px;
    padding: 8px;
    background-color: #5555A8;
    color: white;
    border-radius: 10px;
    border-color: #5555A8;
    border-width: 0px;
    cursor: pointer;
}

.form-edit_buttons .button_back {
    width: 80px;
    text-align: center;
    margin-right: 12px;
    padding: 8px;
    color: #5555A8;
    background-color: white;
    border-radius: 10px;
    border: 1px solid;
    border-color: #5555A8;
    cursor: pointer;
}

.form-edit input {
    border: 0;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.edit-contact {
    font-size: 20px;
    font-weight: 700;
    color: #5555A8;
}

.edit-content {
    margin-left: 70px;
    margin-top: 70px;
}

/*Модальник*/
.modal-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 1;
    transition: all 0.2s linear !important;
}

.modal-overlay_hidden {
    opacity: 0;
}

.container_modal {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1050;
    transition: all 0.2s ease !important;

}

.container_modal_hidden {
    transform: translate(-50%, -50%) scale(0);
}

.container_modal .panel {
    margin-top: 0;
}

.container_modal .panel-header_button_cancel {
    width: 80px;
    cursor: pointer;
    position: relative;
}

.container_modal .panel-header_button_cancel::before,
.container_modal .panel-header_button_cancel::after {
    content: '';
    display: block;
    position: absolute;
    width: 30%;
    margin: 50% 35%;
    height: 2px;
    background-color: #fff;
    transform: rotate(45deg) translate(0, -50%);
    outline: none !important;
    transition: all 0.15s linear;
}

.container_modal .panel-header_button_cancel::after {
    transform: rotate(-45deg) translate(0, -50%);
}

.container_modal .panel-header_button_cancel:hover::before,
.container_modal .panel-header_button_cancel:hover::after {
    opacity: 0.8;
}

.container_modal .panel-content {
    background-color: #fff;
}

.container_modal .button_save {
    margin-left: 15px;
}