html,
body {
    font-family: 'Inter', sans-serif;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin:  0 70px;
}

.contacts_label {
    color: black;
    display: inline;
    color: #000070;
    justify-content: start;
    font-size: 32px;
}

.contacts_count {
    color: #8F8F8F;
    font-size: 20px;
    padding-left: 8px;
}

.head div .search {
    justify-content: end;
    display: inline;
}

.tabs a {
    color: #000070;
    margin: 0 12px 0 0;
    cursor: pointer;
}

.tabs {
    display: flex;
    align-items: center;
    height: 30px;
}

.contacts {
    height: calc(100% - 144px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts_info {
    text-align: center;
}

.contacts_empty-text {
    margin-top: 8 px;
    font-size: 20px;
    font-weight: 400;
}

.contacts_empty-button button {
    width: 250px;
    padding: 8px;
    background-color: #5555A8;
    color: white;
    border-radius: 10px;
    border-color: #5555A8;
    border-width: 0px;
    cursor: pointer;
}

.mt-12 {
    margin-top: 12px;
}