<div class="panel-content">
    <div class="container">
        <form action="" class="form">
            <div class="field">
                <label for="fname">Имя</label>
                <input type="text" id="name" name="fname" value="Александр"/>
            </div>
            <div class="field">
                <label for="lname">Фамилия</label>
                <input type="text" id="lname" name="lname" value="Гоппе"/>
            </div>
            <div class="field">
                <label for="phone">Телефон</label>
                <input type="text" id="phone" name="phone" value="+79773221488"/>
            </div>
            <div class="field">
                <label for="email">E-mail</label>
                <input type="text" id="email" name="email" value="goppeav@nspk.ru"/>
            </div>
            <div class="field">
                <label for="compN">Компания</label>
                <input type="text" id="compN" name="compN" value="NSPK"/>
            </div>
            <div class="field">
                <label for="jobT">Работа</label>
                <input type="text" id="jobT" name="jobT" value="ROBOTA"/>
            </div>
        </form>
        
        <div class="form_buttons">
        <a href="./table.html"><button class="button_cancel">Отмена</button></a>
        <a href="./table.html"><button class="button_save">Сохранить</button></a>
        </div>
    </div>
</div>