.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// html, body {
//     height: 100%;
//     margin: 0;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }


// form {
//     width: 100%;
// }

// .row {
//     width: 100%;
// }

.form_buttons {
    display: flex;
    justify-content: end;
    // width: 100%;
    margin-top: 24px;
}

.form_buttons .button_save {
    color: white;
    font-weight: 600;
    padding: 8px 20px;
    border: 1px solid #5555A8;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
    
    background-color: #5555A8;
    
}

.form_buttons .button_cancel {
    color: #5555A8;
    font-weight: 600;
    padding: 8px 20px;
    border: 1px solid #5555A8;
    border-radius: 10px;
    margin-right: 16px;
    cursor: pointer;
}

form label {
    font-size: 16px;
    margin-bottom: 8px;
    font-weight: 600;
    line-height: 18px;
    color: #9F9F9F;
    display: inline-block;
}

form input {
    width: 100%;
    margin-bottom: 16px;
    padding: 8px 16px;
    border: 1.5px solid #DCDCDC;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea:focus,
input:focus {
    outline: none;
}

.panel {
    margin-top: 70px;
    border-radius: 10px;
    border: 1px solid;
    width: 617px;
    height: 100%;
}

.panel-header {
    width: 617px;
    border-radius: 10px 10px 0px 0px;
    background: #5555A8;
    display: flex;
    height: 93px;
    justify-content: space-between;
}

.panel-content {
    padding: 32px;
    background-color: #FFFFFF
}

.panel-header_label {
    font-weight: 700;
    color: white;
    padding: 32px;
    font-size: 24px;
}

.panel-header_button_cancel {
    background-color: inherit;
    border-top-right-radius: 8px;
}

.panel-header_button_cancel button {
    background-color: transparent;
    padding: 32px;
    border: none;
    cursor: pointer;
}

.form-edit {
    width: 600px;
}


.form-edit_buttons .button_edit {
    margin-top: 12px;
    width: 80px;
    padding: 8px;
    background-color: #5555A8;
    color: white;
    border-radius: 10px;
    border-color: #5555A8;
    border-width: 0px;
    cursor: pointer;
}


body {
    background-color: #000000
}