table {
    border-collapse: collapse;
    width: 100%;
    color: #000070;
}
.contacts_table {
    height: calc(100% - 144px);
    padding: 32px 70px;
}

tr {
    border-bottom: 1px solid #DCDCDC;
}

th {
    text-align: left;
    padding: 12px 24px;
    font-weight: 900;
}

td {
    padding: 12px 24px;
}


.contacts_button_edit {
    text-align: right;
}